body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

table {
    border: 2px solid #00ff00;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    background-color: rgb(12, 12, 12);
}
.ip{
    color: #00ff00;
    font-size: 1.2em;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
input {
    border: 1px solid #00ff00;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    color: #00ff00;
    background-color: rgb(12, 12, 12);
    margin-top: 15px; 
    text-align: center;
}
#calcular {
    background-color: #00ff00;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
#calcular:hover{
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}