body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #000000;
}

table {
    border: 2px solid #00ff00;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    border-collapse: collapse;
    width: 70%;  
    height: 50%;
    text-align: center;
    background-color: rgb(12, 12, 12);
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00ff00;
}

input {
    border: 1px solid #00ff00;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    color: #00ff00;
    background-color: rgb(12, 12, 12);
    margin-top: 15px; 
    text-align: center;
    border-radius: 20px;
}



#calcular {
    background-color: #00ff00;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

#calcular:hover {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

#resultado {
    color: #00ff00;
    margin-top: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
    opacity: 0.25;
    pointer-events: none;
    }
    .ip{
        color:#00ff00;
    }